# Credit Risk Modeling Using Python
## Based on online course from 365DataScience

In [2]:
#import relevant libraries

import sklearn
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
#import the datasets

#first dataset contains the backup storage for the data, this will not be changed throughout the project, but only kept as backup in case of errors
loan_data1 = pd.read_csv("data/3.1 loan_data_2007_2014 - 1.csv")

In [4]:
loan_data2 = pd.read_csv("data/3.1 loan_data_2007_2014 - 2.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_11572\2830868825.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data2 = pd.read_csv("data/3.1 loan_data_2007_2014 - 2.csv")

In [5]:
loan_data3 = pd.read_csv("data/3.1 loan_data_2007_2014 - 3.csv",encoding = 'unicode_escape')

C:\Users\user\AppData\Local\Temp\ipykernel_11572\3320454629.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data3 = pd.read_csv("data/3.1 loan_data_2007_2014 - 3.csv",encoding = 'unicode_escape')

In [26]:
# concatenate these three files to one 
loan_data = pd.concat([loan_data1, loan_data2, loan_data3])
pd.options.display.max_rows = 50
pd.options.display.max_columns = None

In [7]:
loan_data
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466281 entries, 0 to 173353
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466281 non-null  int64
 1   id                           466281 non-null  int64
 2   member_id                    466281 non-null  int64
 3   loan_amnt                    466281 non-null  int64
 4   funded_amnt                  466281 non-null  int64
 5   funded_amnt_inv              466281 non-null  float64
 6   term                         466281 non-null  object
 7   int_rate                     466281 non-null  float64
 8   installment                  466281 non-null  float64
 9   grade                        466281 non-null  object
 10  sub_grade                    466281 non-null  object
 11  emp_title                    438693 non-null  object
 12  emp_length                   445273 non-null  object
 13  home_ownership               466281 non-null  object
 14  annual_inc                   466277 non-null  float64
 15  verification_status          466281 non-null  object
 16  issue_d                      466281 non-null  object
 17  loan_status                  466281 non-null  object
 18  pymnt_plan                   466281 non-null  object
 19  url                          466281 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466281 non-null  object
 22  title                        466261 non-null  object
 23  zip_code                     466281 non-null  object
 24  addr_state                   466281 non-null  object
 25  dti                          466281 non-null  float64
 26  delinq_2yrs                  466252 non-null  float64
 27  earliest_cr_line             466252 non-null  object
 28  inq_last_6mths               466252 non-null  float64
 29  mths_since_last_delinq       215932 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466252 non-null  float64
 32  pub_rec                      466252 non-null  float64
 33  revol_bal                    466281 non-null  int64
 34  revol_util                   465941 non-null  float64
 35  total_acc                    466252 non-null  float64
 36  initial_list_status          466281 non-null  object
 37  out_prncp                    466281 non-null  float64
 38  out_prncp_inv                466281 non-null  float64
 39  total_pymnt                  466281 non-null  float64
 40  total_pymnt_inv              466281 non-null  float64
 41  total_rec_prncp              466281 non-null  float64
 42  total_rec_int                466281 non-null  float64
 43  total_rec_late_fee           466281 non-null  float64
 44  recoveries                   466281 non-null  float64
 45  collection_recovery_fee      466281 non-null  float64
 46  last_pymnt_d                 465905 non-null  object
 47  last_pymnt_amnt              466281 non-null  float64
 48  next_pymnt_d                 239069 non-null  object
 49  last_credit_pull_d           466239 non-null  object
 50  collections_12_mths_ex_med   466136 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466281 non-null  int64
 53  application_type             466281 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466252 non-null  float64
 58  tot_coll_amt                 396005 non-null  float64
 59  tot_cur_bal                  396005 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             222651 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 270.4+ MB

In [8]:
# preprocessing the continuous variables

# delete the "year" or "years" from employement length variable
loan_data['emp_length'].unique()
loan_data["emp_length_int"] = loan_data["emp_length"].str.replace("\+ years", '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

# transform the string into numeric
loan_data["emp_length_int"] = pd.to_numeric(loan_data["emp_length_int"])

# double check if the new variable is of a numeric type
type(loan_data["emp_length_int"][0])

C:\Users\user\AppData\Local\Temp\ipykernel_11572\4143095900.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data["emp_length_int"] = loan_data["emp_length"].str.replace("\+ years", '')

pandas.core.series.Series

In [9]:
# transfor the term variable into numeric using the same steps as above
loan_data["term"].unique()
loan_data["term_int"] = loan_data["term"].str.replace(" months", "")
loan_data["term_int"] = pd.to_numeric(loan_data["term_int"])
loan_data["term_int"].unique()

array([36, 60], dtype=int64)

In [14]:
#transform the string variable indicating date time
loan_data['earliest_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = "%b-%y")
loan_data['days_passed'] = pd.to_datetime('2022-12-31') - loan_data['earliest_date']
loan_data['month_passed'] = round(pd.to_numeric((pd.to_datetime('2022-12-31')-loan_data['earliest_date'])/np.timedelta64(1, 'M')))
loan_data['month_passed'].describe()

count    466252.000000
mean        300.482201
std          93.974981
min        -551.000000
25%         244.000000
50%         286.000000
75%         346.000000
max         648.000000
Name: month_passed, dtype: float64

In [15]:
# time since the credit issued can not be negative, so, let's check what is happening there
loan_data[loan_data['month_passed'] < 0]

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,emp_length_int,term_int,earliest_date,days_passed,month_passed
1580,1580,1048395,1279722,21000,21000,20875.0,36 months,7.51,653.33,A,...,NaN,NaN,NaN,NaN,NaN,NaN,36,2062-09-01,-14489 days,-476.0
1770,1770,1042802,1272895,5500,5500,5500.0,36 months,7.51,171.11,A,...,NaN,NaN,NaN,NaN,NaN,4.0,36,2068-09-01,-16681 days,-548.0
2799,2799,1031659,1249389,5200,5200,5200.0,60 months,8.90,107.70,A,...,NaN,NaN,NaN,NaN,NaN,NaN,60,2064-09-01,-15220 days,-500.0
3282,3282,1021976,1250746,5000,5000,5000.0,36 months,12.69,167.73,B,...,NaN,NaN,NaN,NaN,NaN,10.0,36,2067-09-01,-16315 days,-536.0
3359,3359,1013619,1240971,21000,21000,21000.0,36 months,12.69,704.45,B,...,NaN,NaN,NaN,NaN,NaN,10.0,36,2065-02-01,-15373 days,-505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171072,464003,10080767,11932249,3650,3650,3650.0,36 months,16.24,128.76,C,...,NaN,NaN,NaN,NaN,NaN,NaN,36,2068-01-01,-16437 days,-540.0
171329,464260,10106909,11958941,22500,22500,22500.0,36 months,6.62,690.84,A,...,NaN,NaN,NaN,NaN,NaN,4.0,36,2066-07-01,-15888 days,-522.0
172169,465100,10109870,11961435,14000,14000,13850.0,36 months,9.67,449.58,B,...,NaN,NaN,NaN,NaN,NaN,7.0,36,2067-10-01,-16345 days,-537.0
172569,465500,10099451,11951054,2500,2500,2500.0,36 months,19.22,91.92,D,...,NaN,NaN,NaN,NaN,NaN,NaN,36,2067-09-01,-16315 days,-536.0
172724,465655,10088416,11940047,21000,21000,20950.0,36 months,9.67,674.37,B,...,NaN,NaN,NaN,NaN,NaN,10.0,36,2056-01-01,-12054 days,-396.0

In the above specification, we can see that we have measurement error in years. To be precise, earliest date the credit line issued is stated with future dates, such as '2065-05-27', which is obviously not the case. Since our data is rich enough, we will not investigate the causes of this error, and drop the values with month_passed being negative. This way, we can get rid of credits issued later than the real time.

In [18]:
#the following 
loan_data.drop(loan_data[loan_data['month_passed'] < 0].index, inplace=True)
loan_data['month_passed'].describe()
#

count                          462990
mean     9207 days 14:02:01.018596608
std      2581 days 22:41:28.854499488
min                4078 days 00:00:00
25%                7426 days 00:00:00
50%                8706 days 00:00:00
75%               10532 days 00:00:00
max               19722 days 00:00:00
Name: days_passed, dtype: object

In [ ]:
# run the same procedure for term and issue_date variables

loan_data['earliest_date'] = pd.to_datetime(loan_data['earliest_cr_line'], format = "%b-%y")
loan_data['days_passed'] = pd.to_datetime('2022-12-31') - loan_data['earliest_date']
loan_data['month_passed'] = round(pd.to_numeric((pd.to_datetime('2022-12-31')-loan_data['earliest_date'])/np.timedelta64(1, 'M')))
loan_data['month_passed'].describe()

In [33]:
type(loan_data['term'])
loan_data['term_int'] = pd.to_numeric(loan_data['term'].str.replace(' months', ''))
term_dummies = pd.get_dummies(loan_data['term_int'], prefix='term')
loan_data = pd.concat([loan_data, term_dummies], axis=1)

Since the term variable has only two inputs (36 and 60) representing months, we can confidently consider this as categorical variables. get_dummies command is creating two dummy variables. term_36 is equal to 1, when term is equal to 36 month, and 0 otherwise. The same definition is valid for term_60 variable as well.

In [37]:
# calculate the issue date from end of 2022

loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')
loan_data['months_issue_d'] = round(pd.to_numeric((pd.to_datetime('2022-12-31') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))
loan_data['months_issue_d'].describe()

# the minimum of the months issued seems quite reasonable, therefore, we do not need to further make changes in this variable

count    466281.000000
mean        112.255267
std          14.340190
min          97.000000
25%         102.000000
50%         108.000000
75%         118.000000
max         187.000000
Name: months_issue_d, dtype: float64

In [ ]:
loan_data['']

## Preprocessing some discrete variables

In [42]:
# create dummy variables for gender of the clients
all_dummies = [ pd.get_dummies(loan_data['grade'], prefix = 'grade'),
                pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade'),
                pd.get_dummies(loan_data['home_ownership'], prefix= 'home_ownership'),
                pd.get_dummies(loan_data['verification_status'], prefix = 'verif_status'),
                pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status'),
                pd.get_dummies(loan_data['purpose'], prefix = 'purpose'),
                pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state'),
                pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status')]
all_dummies = pd.concat(all_dummies, axis=1)

# concatenate the new dummy variables to the main dataset
loan_data = pd.concat([loan_data, all_dummies], axis=1)

This step creates dummy variables for mentioned categorical variables, such as gender, loan or verification status, or home ownership. In further modeling, these variables are treated separately. In other words, type of the ownership the client has in terms of housing could be rent, mortgage or his/her own, and these dummy variables help us estimate each of these home ownership impacts on credit risk.