# Credit Risk Modeling Using Python
## Based on online course from 365DataScience

In [1]:
#import relevant libraries

import sklearn
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [ ]:
#specify dtypes for each column to keep memory usage low
column_types = {

    
}

In [9]:
#import the datasets

#first dataset contains the backup storage for the data, this will not be changed throughout the project, but only kept as backup in case of errors
loan_data1 = pd.read_csv("data/3.1 loan_data_2007_2014 - 1.csv")

In [7]:
loan_data2 = pd.read_csv("data/3.1 loan_data_2007_2014 - 2.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_16672\2830868825.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data2 = pd.read_csv("data/3.1 loan_data_2007_2014 - 2.csv")

In [16]:
loan_data3 = pd.read_csv("data/3.1 loan_data_2007_2014 - 3.csv",encoding = 'unicode_escape')

C:\Users\user\AppData\Local\Temp\ipykernel_16672\3320454629.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  loan_data3 = pd.read_csv("data/3.1 loan_data_2007_2014 - 3.csv",encoding = 'unicode_escape')

In [17]:
# concatenate these three files to one 
loan_data = pd.concat([loan_data1, loan_data2, loan_data3])

In [19]:
loan_data
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 466281 entries, 0 to 173353
Data columns (total 75 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Unnamed: 0                   466281 non-null  int64
 1   id                           466281 non-null  int64
 2   member_id                    466281 non-null  int64
 3   loan_amnt                    466281 non-null  int64
 4   funded_amnt                  466281 non-null  int64
 5   funded_amnt_inv              466281 non-null  float64
 6   term                         466281 non-null  object
 7   int_rate                     466281 non-null  float64
 8   installment                  466281 non-null  float64
 9   grade                        466281 non-null  object
 10  sub_grade                    466281 non-null  object
 11  emp_title                    438693 non-null  object
 12  emp_length                   445273 non-null  object
 13  home_ownership               466281 non-null  object
 14  annual_inc                   466277 non-null  float64
 15  verification_status          466281 non-null  object
 16  issue_d                      466281 non-null  object
 17  loan_status                  466281 non-null  object
 18  pymnt_plan                   466281 non-null  object
 19  url                          466281 non-null  object
 20  desc                         125983 non-null  object
 21  purpose                      466281 non-null  object
 22  title                        466261 non-null  object
 23  zip_code                     466281 non-null  object
 24  addr_state                   466281 non-null  object
 25  dti                          466281 non-null  float64
 26  delinq_2yrs                  466252 non-null  float64
 27  earliest_cr_line             466252 non-null  object
 28  inq_last_6mths               466252 non-null  float64
 29  mths_since_last_delinq       215932 non-null  float64
 30  mths_since_last_record       62638 non-null   float64
 31  open_acc                     466252 non-null  float64
 32  pub_rec                      466252 non-null  float64
 33  revol_bal                    466281 non-null  int64
 34  revol_util                   465941 non-null  float64
 35  total_acc                    466252 non-null  float64
 36  initial_list_status          466281 non-null  object
 37  out_prncp                    466281 non-null  float64
 38  out_prncp_inv                466281 non-null  float64
 39  total_pymnt                  466281 non-null  float64
 40  total_pymnt_inv              466281 non-null  float64
 41  total_rec_prncp              466281 non-null  float64
 42  total_rec_int                466281 non-null  float64
 43  total_rec_late_fee           466281 non-null  float64
 44  recoveries                   466281 non-null  float64
 45  collection_recovery_fee      466281 non-null  float64
 46  last_pymnt_d                 465905 non-null  object
 47  last_pymnt_amnt              466281 non-null  float64
 48  next_pymnt_d                 239069 non-null  object
 49  last_credit_pull_d           466239 non-null  object
 50  collections_12_mths_ex_med   466136 non-null  float64
 51  mths_since_last_major_derog  98974 non-null   float64
 52  policy_code                  466281 non-null  int64
 53  application_type             466281 non-null  object
 54  annual_inc_joint             0 non-null       float64
 55  dti_joint                    0 non-null       float64
 56  verification_status_joint    0 non-null       float64
 57  acc_now_delinq               466252 non-null  float64
 58  tot_coll_amt                 396005 non-null  float64
 59  tot_cur_bal                  396005 non-null  float64
 60  open_acc_6m                  0 non-null       float64
 61  open_il_6m                   0 non-null       float64
 62  open_il_12m                  0 non-null       float64
 63  open_il_24m                  0 non-null       float64
 64  mths_since_rcnt_il           0 non-null       float64
 65  total_bal_il                 0 non-null       float64
 66  il_util                      0 non-null       float64
 67  open_rv_12m                  0 non-null       float64
 68  open_rv_24m                  0 non-null       float64
 69  max_bal_bc                   0 non-null       float64
 70  all_util                     0 non-null       float64
 71  total_rev_hi_lim             222651 non-null  float64
 72  inq_fi                       0 non-null       float64
 73  total_cu_tl                  0 non-null       float64
 74  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(7), object(22)
memory usage: 270.4+ MB

In [20]:
# preprocessing the continuous variables

# delete the "year" or "years" from employement length variable
loan_data['emp_length'].unique()
loan_data["emp_length_int"] = loan_data["emp_length"].str.replace("\+ years", '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' years', '')
loan_data['emp_length_int'] = loan_data['emp_length_int'].str.replace(' year', '')

# transform the string into numeric
loan_data["emp_length_int"] = pd.to_numeric(loan_data["emp_length_int"])

# double check if the new variable is of a numeric type
type(loan_data["emp_length_int"][0])

C:\Users\user\AppData\Local\Temp\ipykernel_16672\4143095900.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  loan_data["emp_length_int"] = loan_data["emp_length"].str.replace("\+ years", '')

pandas.core.series.Series

In [21]:
# transfor the term variable into numeric using the same steps as above
loan_data["term"].unique()
loan_data["term_int"] = loan_data["term"].str.replace(" months", "")
loan_data["term_int"] = pd.to_numeric(loan_data["term_int"])
loan_data["term_int"].unique()

array([36, 60], dtype=int64)